{
  "extends": [
    "taro"
  ],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "Taro"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "no-console": "off",
    "space-before-function-paren": 0,
    "react/react-in-jsx-scope": "off",
    "import/no-commonjs": "off",
    "taro/custom-component-children": "off"
  },
  "parser": "babel-eslint",
  "globals": {
    "document": true,
    "localStorage": true,
    "Taro": true,
    "window": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
